/* * {
    box-sizing: border-box;
}

body {
    width: 960px;
    margin: auto;
    background-color: #f7f7e8;
}

.imgSection img {
    width: 30px;
    height: 30px;
}

.container {
    display: grid;
    grid-template-rows: 100px minmax(calc(100vh - 170px), 1fr) 50px;
    gap: 20px;
}




header nav {

    text-decoration: none;
    background-color: #c7cfb7;
    height: 50px;
    margin-top: 10px;
    padding-top: 15px;

}

a {
    text-decoration: none;
    text-align: left;
    color: #557174;
    padding: 10px 20px;
}

header nav a:hover {
    color:#c7cfb7;
    background-color: #557174;
} */